.text-uppercase {
    text-transform: uppercase !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.border-none {
    border: none !important;
}

.border-top:before {
    content: "";
    display: block;
    border-top: 1px solid var(--clr-dark-red) !important;
}

.font-bold {
    font-weight: 600;
}

.mx-sm {
    margin-inline: var(--mx-sm) !important;
}