{% block paragraph %} 
	{% block content %} 

		<section class="osoby-card" id="">

			{% if content.field_title[0] is not empty %} 

			<div class="osoby-card-header padding section-title page-title">			

					<h3>{{ content.field_title }}</h3>
				
				{% if content.field_osoby_popis  %} 
					<div class="osoby-cart-desc">{{ content.field_osoby_popis }}</div>
				{% endif %}

			</div>

			{% endif %} 

			<ul class="contact__results__list">
				{{ content.field_par_osoba }}
			</ul>

		</section>

	{% endblock %} 
{% endblock paragraph %}