{%
	set classes = [
		'section',
		'section--logos',
		'printable',
		('0' in content.field_join_with_next_block[0]) ? 'mb',
	]
%}

{% block paragraph %}
<section {{ attributes.addClass(classes) }}>
	{% block content %} 

			<ul class="logos">
				{{ content.field_logo }}
			</ul>

	{% endblock %} 
    </section>
{% endblock paragraph %}