{% block paragraph %}
<section class="body printable section"> 
	{% block content %} 

			<ul class="logos">
				{{ content.field_logo }}
			</ul>

	{% endblock %} 
    </section>
{% endblock paragraph %}