@use "../abstracts/var" as *;

.layout-container {
  margin: 0;
}

.add-job-title {
  outline: none;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: $c4;
}

.layout-content--add-job-offer {
  background: $c1;
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: min-content;
}

.node-nabidka-prace-nova-form {
  display: grid;
  font: normal 90.3%/1.538em "Open Sans", sans-serif;

  & .button--primary {
    background-image: none;
    background-color: $c4;
    border: 0.2rem solid $c4;
    border-radius: 0;
    transition: all 0.3s;
    color: $c1;
    text-decoration: none;
    outline: none;
    margin-right: 0;
    margin-left: 0;
    text-shadow: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 4px 1.5em;
    text-align: center;
    line-height: normal;
    width: fit-content;
  }
  & fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    // padding-bottom: 1rem;

    #edit-field-koho-hledame-list,
    #edit-field-uvazek-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .js-form-type-radio,
      .js-form-type-checkbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 0.5em;
        .form-radio,
        .form-checkbox {
          margin-right: 0.2em;
          width: 13px;
        }
      }
    }
  }
  & .fieldset-legend {
    display: block;
    padding-bottom: 1rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  & .form-submit {
    order: 1;
  }
  & .form-submit:focus,
  & .form-submit:hover {
    border-color: $c4;
    background-color: $c1;
    color: $c4;
  }
  & .form-required:after {
    width: 7px;
    height: 7px;
    background-size: 7px 7px;
    display: inline-block;
    margin: 0 0.3rem;
    content: "*";
    color: red;
  }
  & .js-form-item {
    margin-bottom: 1rem;
  }
  & .js-form-type-vertical-tabs {
    // display: none;
    .wrapper--end-date-of-publish {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      .msg-error {
        font-size: 1rem;
        color: red;
      }
    }
    h4 {
      font: normal 90.3%/1.538em "Open Sans", sans-serif;
      font-weight: 800;
      margin: 0;
      margin-right: 1em;
    }
    .form-item-unpublish-on-0-value-date {
      margin: 0;
    }
    .vertical-tabs__menu,
    .form-item-unpublish-on-0-value-time {
      display: none;
    }
    .vertical-tabs {
      margin: 0;
      border: 0;
    }
    .form-date {
      width: auto;
      border: 0.1em solid rgba(0, 0, 0, 0.5);
      padding: 0.2em;
      border-radius: 0.3em;
    }
  }
  & .js-text-format-wrapper {
    & #edit-body-0-format-help-about {
      display: none;
    }
    & div:nth-child(4) {
      display: none;
    }
  }
  & label {
    display: table;
    margin: 0 0 0.1em;
    padding: 0;
    font-weight: bold;
  }
  & input.form-text,
  & input.form-email,
  & textarea.form-textarea,
  & input.form-number {
    box-shadow: none;
    border-radius: 0;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0.3em 0.4em 0.3em 0.5em;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    color: #595959;
    border: 1px solid #b8b8b8;
    border-top-color: #999;
    background: #fcfcfa;
    font-size: 1em;
    width: auto;
  }
  & textarea.form-textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
  }
  & input.form-number {
    width: 100px;
  }
  & .form-item-field-pocet-dnu-0-value {
    display: none;
  }

  // Verze PRO - zatim neni v provozu
  .js-form-item-field-topovat-value {
    //PRO verze
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    & #edit-field-topovat-value--description {
      grid-column: 1/3;
      //PRO verze
      display: block;

      order: -1;
      width: 100%;
      background: #f9fafb;
      color: #000;
      //font-style: italic;
      font-weight: 600;
      padding: 2rem;
      margin-bottom: 1rem;
      & .title-3,
      & .title-4 {
        margin: 0.5rem 0;
      }
      & .title-3 {
        font-size: 1.7rem;
      }
      & .title-4 {
        font-size: 1.5rem;
      }
      & .warning {
        margin: 0;
      }
      & .price {
        margin: 0;
        span {
          color: red;
        }
      }
    }
    & input {
      width: auto;
      margin-right: 1rem;
    }
  }

  #ajax-wrapper {
    display: none;
  }
  .form-item-field-topovat-value > span {
    font-weight: 600;
    padding: 2px 1rem 2px 2px;
    line-height: 2;
    // text-transform: uppercase;
    // margin-bottom: 1rem;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.8);
    align-self: center;
  }
  #edit-field-topovat-value {
    display: none;
  }
  #edit-field-topovat-value {
    + .option {
      --max-height: 2em;
      display: inline-block;
      align-self: center;
      justify-self: center;
      padding: 2px;
      margin-bottom: 0;
      width: min-content;
      max-height: var(--max-height);
      font-family: sans-serif;
      color: transparent;
      perspective: 100px;
      transition: all 0.2s ease;
      cursor: grab;
      &:after,
      &:before {
        display: inline-block;
        transition: all 0.4s ease;
        width: 100%;
        text-align: center;
        position: absolute;
        line-height: var(--max-height);
        font-weight: bold;
        color: $c1;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: 4px;
      }

      &:after {
        content: "NE";
        background: $c4;
        transform: rotateY(-180deg);
      }

      &:before {
        background: #02c66f;
        content: "ANO";
      }

      &:active:before {
        transform: rotateY(-20deg);
      }
    }

    &:checked + .option {
      &:before {
        transform: rotateY(180deg);
      }

      &:after {
        transform: rotateY(0);
        left: 0;
        background: $c4;
      }

      &:active:after {
        transform: rotateY(20deg);
      }
    }
  }

  .form-item-field-logo-0 {
    //PRO verze
    display: block;

    & .description,
    & input[name="field_logo_0_upload_button"] {
      display: none;
    }
    & .upload-button {
      padding: 0;
      border: 1px solid $c4;
      outline: 0;
      transition: 0.25s;
      width: 100%;
      text-align: left;
      background-color: $c1;
      cursor: pointer;
      display: flex;
    }
    & .upload-button__text {
      padding: 1rem 1.5rem 1rem 0;
      text-transform: uppercase;
      font-size: 1.4rem;
      line-height: 1.6rem;
      letter-spacing: 0.07rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      transition: all 0.3s;
      &:before {
        content: "\f093";
        font-family: "Font Awesome 5 Free", Arial, Helvetica, sans-serif;
        font-weight: 900;
        background-color: $c4;
        padding: 1.2rem;
        margin-right: 1rem;
        color: $c1;
      }
      &:hover {
        color: $c4;
        //background-color: ;
      }
    }

    & .image-widget {
      display: grid;
      grid-template-columns: auto auto;
      gap: 0.5em;

      &.form-managed-file {
        display: block;
      }

      img {
        width: 100px;
        grid-column: 1/2;
        margin: 0;
        margin-bottom: 1em;
        align-self: center;
        justify-self: center;
      }
      input[name="field_logo_0_remove_button"] {
        grid-column: 2/3;
        grid-row: 3;
        padding: 0.3em 1em;
        margin: 0;
        margin-left: 0.5em;
        border: 1px solid;
        border-radius: 20px;
        background: transparent;
        color: $c4;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0.07rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        transition: all 0.3s;
        width: min-content;
        text-align: center;

        &:hover {
          color: $c1;
          background-color: $c4;
        }

        &::before {
          content: "\f2ed";
          font-family: "Font Awesome 5 Free";
          font-weight: 800;
        }
      }
    }

    & .form-managed-file {
      position: relative;
    }
    // & input[name="files[field_logo_0]"] {
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // opacity: 0.00001;
    // pointer-events: none;
    // }
  }

  .cena-label {
    //PRO verze
    display: none;

    font-weight: 900;
    padding-left: 1rem;
  }
  #cena-zvyrazneni {
    //PRO verze
    display: none;

    color: red;
    font-weight: 900;
  }
  .file-size {
    display: none;
  }
}

.form-item-field-souhlas-s-vop-value,
.form-item-field-spam-consent-value {
  display: grid;
  grid-template-columns: min-content auto;
  margin-block: 1rem;

  label {
    display: flex;
  }

  .form-checkbox {
    width: auto;
    margin-top: 0.3em;
    margin-right: 0.3em;
    align-self: baseline;
  }
  .description {
    background: transparent;
    color: black;
    grid-column: 1/3;
    margin-top: 1em;
  }
}

.form-item-field-spolecnost-0-value,
.form-item-field-name-0-value,
.form-item-field-surname-0-value,
.form-item-field-ico-0-value,
.form-item-field-dic-0-value {
  display: none;
}

.required-star {
  color: red;
}
