@use '../abstract/var' as *;

.cookies {
    position: fixed;
    width: 100%;
    z-index: -1;
    visibility: hidden;
    background-color: $c1;
    bottom: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .2rem solid $c4;

    &--visible {
        z-index: 10000;
        visibility: visible;
    }

    @media(min-width: $md * 1em) {
        flex-direction: row;
        justify-content: space-between;
        .btn, .news-feed__section-title a,
        .search-mobile input[type=submit],
        .user-login-form input[type=submit]{
            margin: 0;
        }
        p {
            width: calc(100% - 120px)
        }    
    }
}
@media(min-width: $md * 1em) {
    .news-feed__section-title .cookies a,
    .search-mobile .cookies input[type=submit],
    .user-login-form .cookies input[type=submit]{
        margin: 0;
    }
}