.white-dokumenty-page{
    width: calc(99.9% * 2 / 3 - (30px - 30px * 2 / 3)); 
    margin-right: 0; 
    float: right;

    table{
        font-size: 13px; 
        margin-bottom: 40px; 
        width: 100%;
        td,th{
            padding: 10px 10px 0 0; 
            text-align: left;
        }
        th{
            background: #d43241;
            color: white; 
            padding: 10px; 
            font-size: 16px; 
            font-weight: normal; 
            white-space: pre-line;
        }
    }
}
.paragraph--type--dokumenty, 
.white-dokumenty-page .views-field-field-soubory { 
    background: white; 
    padding: 10px; 
    margin: 20px 0 0; 
}
.paragraph--type--dokumenty{
    th:last-of-type { 
        width: 150px;
    }
    * { 
        border: none;
    }
}
.paragraph--type--dokumenty caption, 
.white-dokumenty-page .views-field-field-soubory caption { 
    text-align: left; 
    padding: 10px 0; 
    font-size: 2.4rem; 
}
.white-sub-section{ 
    h3 { 
        background: white; 
        margin-bottom: 2px; margin-top: 15px; 
        padding: 1.5rem; 
        text-transform: uppercase; 
        color: #d43241; 
    }
    .views-view-grid { 
        background: white; 
        padding: 20px 40px;
    }
} 
.white-section {
    background: white; 
    padding: 40px; 
    margin-bottom: 40px; 
}
.checked-white { 
    background: white; 
    color: #d43241 !important;
}
.special-white-section { 
    margin-bottom: 40px;
    h3 { 
        background: white; 
        margin-bottom: 2px; 
        padding: 1.5rem; 
        text-transform: uppercase; 
        color: #d43241;
    }
    .views-view-grid { 
        background: white; 
        padding: 20px 40px;
    }
}
@media (min-width:$lg*1em) {
    .white-section, 
    .white-sub-section .views-view-grid, 
    .white-sub-section h3 { 
        width: calc(99.9% * 2 / 3 - (30px - 30px * 2 / 3)); 
        float: right;
    }
}
    