


<div class="front-block-img mb">

<style>.front-block-img img {height: auto!important}</style>

<a href="{{ content.field_banner_link.0['#url'] }} ">
   {{ content.field_banner_pic }} 
  </a> 



  

           

</div>
