.layout-content--library-homepage .main-content,
.layout-content--viewbookspage .main-content,
.book .main-content {
  float: none !important;
  width: 100% !important;
}

.layout-content--book aside.layout-aside.mb,
.layout-content--news aside.layout-aside.mb {
  display: none;
}

.layout-content--library-homepage .breadcrumbs {
  display: none !important;
}

.search-results {
  &__main {
    width: auto;
    float: none !important;
  }
}

.main-content p img,
.main-content table img {
  width: auto;
}

.ui-datepicker-trigger {
  width: auto;
}

.articles .news-feed__footer .dash,
.articles .news-feed__footer a {
  display: none;
}
.i_btn {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 !important;
  box-sizing: border-box !important;
  width: 100% !important;
  height: 4.6rem !important;
  line-height: 4.6rem !important;
}
#ebscohostsearchtext {
  @include placeholder {
    opacity: 0;
    transition: opacity 0.3s;
  }
}
.visible-placeholder {
  @include placeholder {
    opacity: 1 !important;
    transition: opacity 0.3s;
  }
}

@media (min-width: $md * 1em) {
  .thirds-row {
    display: flex;
  }
  .one-third,
  .two-thirds {
    width: calc(99.9% * 1 / 2 - (30px - 30px * 1 / 2));
    &:nth-child(1n) {
      float: left;
      margin-right: 30px;
      clear: none;
    }
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(2n) {
      margin-right: 0;
      float: right;
    }
    &:nth-child(2n + 1) {
      clear: both;
    }
  }
}

@media (min-width: $lg * 1em) {
  .one-third,
  .two-thirds {
    &:nth-child(1n) {
      float: left;
      margin-right: 30px;
      clear: none;
    }
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(3n) {
      margin-right: 0;
      float: right;
    }
    &:nth-child(3n + 1) {
      clear: both;
    }
  }
  .one-third {
    width: calc(99.9% * 1 / 3 - (30px - 30px * 1 / 3));
  }

  .two-thirds {
    width: calc(99.9% * 2 / 3 - (30px - 30px * 2 / 3));
  }
}
