.lib-book-slider {
    background-color: $c4;
    &__heading {
        color: $c1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        border-bottom: .2rem solid rgba($c7, .1);
    }
    &__heading-btn {
        margin-top: 0;
    }
    &__list {
        display: flex;
    }
    &__item {
        color: $c1;
        list-style: none;
        padding: 1.5rem;
        padding-bottom: 5rem;
    }
    &__img {
        max-width: 18rem;
        margin: .5rem auto 3.5rem;
    }
    &__img-link {
        display: block;
    }
    &__title {
        font-style: 2rem;
        margin-bottom: .5rem;
    }
    &__title-link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__author {
        font-size: 1.4rem;
        color: rgba($c1, .5);
        margin-bottom: 1.5rem;
    }
    .lSPager {
        padding: 0;
        list-style: none;
        text-align: center;
        padding: 2rem 0 !important;
        display: flex;
        justify-content: center;
        border-top: .2rem solid rgba($c7, .1);
        li {
            width: 1rem !important;
            height: 1rem;
            display: inline-block;
            border-radius: 50%;
            text-indent: -99999px;
            background-color: $c1;
            opacity: .5;
            margin: 0 .5rem;
            transition: opacity .3s;
            &.active {
                opacity: 1;
            }
        }
    }
}