.lib-search {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    max-width: 83rem;
    &__wrap {
        padding: 1rem;
    }
    &__input-wrap {
        flex-grow: 1;
    }
    &__input {
        min-height: 4.2rem !important;
        border: none !important;
        @include placeholder {
            color: $c-lib1;
            font-size: 1.8rem;
        }
    }
    &__label {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-top: 1rem;
        display: block;
    }
    &__logo-wrap {
        display: none;
    }
    &__logo {
        margin: 18px 23px;
        width: 50px;
    }
    &__submit {
        height: 5rem;
        background-color: transparent;
        border: none;
        text-indent: -9999px;
        background-image: url(../images/icons/search.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.8rem;
        cursor: pointer;
    }

    @media (min-width: $md * 1em) {
        &__wrap {
            display: flex;
            padding: 0;
        }
        &__logo-wrap {
            display: block;
            border-right: .1rem solid $c9;
            margin-right: 3rem;
        }
        &__submit {
            height: auto;
            width: 9rem;
        }
    }
}