.footer {
    $this: &;
    color: $c1;
    &__nav {
        &__item {
            font-size: 1.4rem;
        }

        &__title {
            font-size: 2.1rem;
            text-transform: uppercase;
        }
    }

    &__outer {
        background-color: $c4;
    }

    &__container {
        padding: 0 $padMob;
    }

    &__copyright {
        background-color: $c4;
        padding: 2rem 0;
        font-size: 1.4rem;
        margin-top: .5rem;

        &__right {
            margin-left: auto;
        }
        &__links {
            display: flex;
            justify-content: space-between;
        }
        &__link {
            display: block;
            text-align: center;
        }
        &__logo-tlrs {
            display: inline-block;

            span, a {
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;

                svg {
                    height: 17px;
                    width: 10rem;
                    display: inline-block;
                    vertical-align: text-bottom;
                }
            }
        }
        &__item {
            &:not(:last-child) {
                border-right: .2rem solid rgba(251, 251, 251, 0.1);
            }
            &:last-child {
                #{$this}__copyright__link {
                    &:after {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 1rem;
                        width: 1.2rem;
                        height: 1.05rem;
                        background-image: url(../images/icons/external-white.svg);
                        background-size: cover;
                    }
                }
            }
        }
    }

    @media(max-width: 40.5625em) {
        &__nav {
            padding: 2rem 0;
            &__list {
                position: relative;
                z-index: 1;
            }
            &__title {
                margin-bottom: 0;
                padding: .65em 0 .55em;
            }
            &__sublist {
                display: none
            }
            &__subitem {
                border-top: .1rem solid rgba(251, 251, 251, 0.1);
            }
            &__link {
                color: $c1;
                display: block;
                font-weight: 300;
                font-size: 1.4rem;
                padding: .75em 0;
            }
            &__item {
                position: relative;
                z-index: 1;
                &:not(:last-child) {
                    border-bottom: .2rem solid rgba(251, 251, 251, 0.1);
                    &:after {
                        content: '';
                        background-image: url(../images/icons/triangle.svg);
                        display: inline-block;
                        width: 15px;
                        height: 10px;
                        position: absolute;
                        right: 1.5rem;
                        top: 2rem;
                        background-size: cover;
                        z-index: 1;
                        opacity: .5;
                        transition: transform .3s;
                    }
                }
                &:last-child {
                    margin-top: 2rem;
                    #{$this}__nav__title {
                        margin-bottom: .5em;
                    }
                }
            }
        }
        &__copyright {
            &__item {
                flex-grow: 1;
                flex-basis: 0;
            }
            &__left {
                text-align: center;
            }
            &__right {
                max-width: 40rem;
                margin: auto;
                margin-top: 2rem;
            }
        }
    }

    @media(min-width: 40.625em) {
        &__nav {
            padding: 4rem 0;
            &__sublist {
                display: block !important;
            }
            &__list {
                font-size: 0;
                display: flex;
                flex-wrap: wrap;
            }
            &__item {
                display: inline-block;
                width: 33.333%;
                padding-left: 2rem;
                margin-bottom: 3rem;
            }
            &__subitem {
                margin-bottom: .5em;
            }
            &__title {
                margin-bottom: .75em;
            }
            &__link {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &__copyright {
            &__container {
                display: flex;
                align-items: center;
            }
            &__item {
                padding-left: 3rem;
                padding-top: .7rem;
                padding-bottom: .7rem;
                &:not(:last-child) {
                    padding-right: 3rem;
                }
            }

        }
    }

    @media(min-width: $lg * 1em) {
        &__nav {
            &__list {
                &:not(.footer__nav__list--thirds) {
                    #{$this}__nav__item {
                        width: 20%;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}