.search-mobile {
    position: fixed;
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(40,40,40,.9);
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s,visibility 0s .5s;
    -webkit-overflow-scrolling: touch;

    &--open {
        opacity: 1;
        visibility: visible;
        transition: opacity .5s;
    }

    &__close {
        position: absolute;
        top: 2rem;
        right: 1rem;
        .hamburger-inner {
            background-color: $c1;
            &:after,
            &:before {
                background-color: $c1;
            }
        }
    }

    form {
        width: 100%;
        max-width: 35rem;
    }

    input[type=search] {
        border: none;
        padding: 1rem;
        min-height: 4rem;
        width: 100%;
    }

    input[type=submit] {
        @extend .btn;
        width: auto;
        float: right;
    }

    @media(min-width: $headerBreak * 1em) {
        display: none;        
    }
}