.toolbar-tray-open {
    padding-top: 79px !important;
}

.layout-node-form {
    font-family: "Open Sans";
    font-size: 14px
}

.layout-node-form .description {
    font-size: 12px;
    margin: 20px 0
}

.layout-node-form tbody tr:hover,
.layout-node-form tbody tr:focus {
    background: #f4f7f8;
}

.layout-node-form .field-multiple-table .field-multiple-drag .tabledrag-handle {
    padding-right: 0 !important;
    width: 100%;
}

.layout-node-form tr.draggable {
    position: relative;
}

.layout-node-form #field-content-blocks-values .handle {
    display: none;
}

.layout-node-form #field-content-blocks-values td.field-multiple-drag {
    position: absolute;
    width: 145px !important;
    display: block;
    height: 30px;
    left: 19px;
}

.layout-node-form #group-bloky .draggable td:nth-child(2) {
    padding-left: 10px;
}

.layout-node-form .image-widget-data {
    float: none;
}

.layout-node-form .image-widget-data input.form-text {
    width: 75%
}

.layout-node-form .paragraphs-subform .field--name-field-title label,
.layout-node-form .paragraphs-subform .form-type-textarea label,
.layout-node-form .field--name-field-menu-link label,
.layout-node-form .field--name-field-menu-link .description,
.layout-node-form .field--name-title label,
.layout-node-form .field--name-field-related-news label,
.layout-node-form .field--name-field-datum legend {
    display: none;
}

.layout-node-form .field--name-field-title input {
    font-size: 16px;
    color: red;
}

.layout-node-form .field--name-title input {
    font-size: 22px;
    color: red;
}

.layout-node-form .field--name-field-datum fieldset {
    padding: 0 !important;
    border: none;
}

.layout-node-form .field--name-body .filter-wrapper {
    display: none;
}

.layout-node-form fieldset:not(.fieldgroup)>legend {
    top: 0;
    width: 100%;
    left: 0;
    background: #fcf9e0;
    padding: 1%;
    border-bottom: 2px dashed #fad5c2;
    border-collapse: initial;
}

.layout-node-form fieldset:not(.fieldgroup) {
    padding: 50px 18px 18px;
}


/*

.layout-node-form .form-type-textfield label {float: left}
.layout-node-form .field-multiple-drag { width: 30px;padding-right: 0;background: #fcf9e0;border: 1px solid #f5eb9b;}

*/

.adminimal-admin-toolbar .toolbar a {
    transition: all, 0.2s;
}

.adminimal-admin-toolbar .toolbar .toolbar-bar {
    box-shadow: none;
    background-color: #2d2d2d;
}

.adminimal-admin-toolbar .toolbar .toolbar-menu {
    background: #333;
}

.adminimal-admin-toolbar .toolbar-tray .toolbar-menu a,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu span {
    background: transparent;
    color: #ccc;
}

.adminimal-admin-toolbar .toolbar-tray .toolbar-menu li {
    background: #333;
}

.adminimal-admin-toolbar .toolbar-tray ul li.menu-item {
    border: none;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
    border: none;
}

.adminimal-admin-toolbar .toolbar-oriented .user-toolbar-tab {
    float: right;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray-vertical {
    border: none;
    box-shadow: none;
}

.adminimal-admin-toolbar .toolbar-tray a,
.adminimal-admin-toolbar .toolbar-tray span {
    background: #2d2d2d;
    color: #bbb;
}

.adminimal-admin-toolbar .toolbar-tray span {
    display: block;
    padding: 1em 1.3333em;
}

.adminimal-admin-toolbar .toolbar-tray-horizontal a:hover,
.adminimal-admin-toolbar .toolbar-tray-horizontal a:active,
.adminimal-admin-toolbar .toolbar-tray-horizontal a:focus {
    background: #0084d7;
    color: #fff;
    text-decoration: none;
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover>a,
.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover>.toolbar-box>a {
    background: #0084d7;
    color: #fff !important;
}

.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-tab>.toolbar-item {
    font-weight: 600;
}

.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-item {
    color: #bebebe;
}

.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-tab>.toolbar-item:hover {
    background-image: none;
    background-color: #2d2d2d;
    color: #fff;
    text-decoration: none;
}

.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-tab>.toolbar-item.is-active,
.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-tab>.toolbar-item:focus {
    background-image: none;
    background-color: #333;
    text-decoration: none;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray-horizontal .menu-item+.menu-item,
[dir="rtl"] .adminimal-admin-toolbar .toolbar .toolbar-tray-horizontal .menu-item+.menu-item,
.adminimal-admin-toolbar .toolbar .toolbar-tray-horizontal .menu-item:last-child {
    border-left: none;
    /* LTR */
    border-right: none;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray .menu-item--active-trail>.toolbar-box a,
.adminimal-admin-toolbar .toolbar .toolbar-tray a.is-active {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray-vertical .menu-item+.menu-item {
    border: 0 none;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray {
    background-color: #333;
    box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.85);
}

.adminimal-admin-toolbar .toolbar .toolbar-tray-horizontal {
    border-bottom: 1px solid #333;
    box-shadow: none;
}

.adminimal-admin-toolbar .toolbar .toolbar-toggle-orientation {
    background-color: #333;
}

.adminimal-admin-toolbar .toolbar .toolbar-icon.toolbar-handle:focus {
    background-color: transparent;
}

.adminimal-admin-toolbar .toolbar .toolbar-icon.toolbar-handle:before {
    background-image: url(../images/acacac/chevron-outline-disc-down.svg);
    transition: .25s;
}

.adminimal-admin-toolbar .toolbar .toolbar-icon.toolbar-handle.open:before {
    background-image: url(../images/ffcfcf/chevron-outline-disc-close.svg) !important;
    transform: rotate(180deg);
}

.adminimal-admin-toolbar .toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:before {
    background-image: url(../images/acacac/chevron-outline-disc-down.svg);
    background-size: 100%;
}

.adminimal-admin-toolbar .toolbar .toolbar-icon.toolbar-handle:hover:before,
.adminimal-admin-toolbar .toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:hover:before,
.adminimal-admin-toolbar .toolbar .toolbar-menu .toolbar-box:hover .toolbar-icon.toolbar-handle:before {
    background-image: url(../images/ffffff/chevron-outline-disc-down.svg);
}

.adminimal-admin-toolbar .toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open:before,
.adminimal-admin-toolbar .toolbar .toolbar-menu .toolbar-box:hover .toolbar-icon.toolbar-handle.open:before {
    background-image: url(../images/ffffff/chevron-outline-disc-close.svg);
    background-size: 100%;
}

.adminimal-admin-toolbar .level-1 .toolbar-handle.open,
.adminimal-admin-toolbar .toolbar-tray-vertical .level-2 {
    background: #3b3b3b !important;
}

.adminimal-admin-toolbar .level-2 .toolbar-handle.open,
.adminimal-admin-toolbar .toolbar-tray-vertical .level-3 {
    background: #434343 !important;
}

.adminimal-admin-toolbar .level-3 .toolbar-handle.open,
.adminimal-admin-toolbar .toolbar-tray-vertical .level-4 {
    background: #4c4c4c !important;
}

.adminimal-admin-toolbar .level-4 .toolbar-handle.open,
.adminimal-admin-toolbar .toolbar-tray-vertical .level-5 {
    background: #545454 !important;
}

/* For WCAG, we are lightening the text on this tier. */
.adminimal-admin-toolbar .toolbar .level-3 a,
.adminimal-admin-toolbar .toolbar .level-4 a {
    color: #d5d5d5 !important;
}

.adminimal-admin-toolbar .toolbar-handle.open {
    border-top-left-radius: 10px;
}

.toolbar .toolbar-tray-vertical .level-3 ul {
    margin-left: 0 !important;
}

.adminimal-admin-toolbar .toolbar-tray-vertical .level-3 a {
    padding-left: 2.75em !important;
}

.adminimal-admin-toolbar .toolbar-tray-horizontal a:focus,
.adminimal-admin-toolbar .toolbar-box a:focus {
    background: #333;
    text-decoration: none;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray-vertical .toolbar-menu a {
    color: #bbb;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray-vertical .toolbar-menu a:hover,
.adminimal-admin-toolbar .toolbar .toolbar-tray-vertical .toolbar-menu a:focus {
    color: #fff;
    background: #0084d7;
    text-decoration: none;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray-vertical .toolbar-menu ul ul {
    border: none;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray-horizontal .toolbar-toggle-orientation {
    border: none;
}

.adminimal-admin-toolbar .toolbar .menu-item:hover {
    background-color: #333;
}

.adminimal-admin-toolbar .toolbar .menu-item:focus {
    background: #abeae4;
}

.adminimal-admin-toolbar .toolbar .menu-item--expanded {
    background-color: #333;
}

.adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,
[dir="rtl"] .adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded {
    background-image: none;
    position: relative;
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .toolbar-menu ul .toolbar-icon {
    padding: 1em 12px;
}

.adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item:hover ul {
    margin: -39px 0 0 200px;
}

[dir="rtl"] .adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item:hover ul {
    margin: -39px 200px 0 0;
}

.adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:after {
    color: #8eacc0;
    content: url(../images/0084d7/chevron-right.svg);
    font-size: 16px;
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-8px);
    transition: all .2s;
}

[dir="rtl"] .adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:after {
    right: auto;
    left: 5px;
    top: 30%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:hover:after {
    content: url(../images/ffffff/chevron-right.svg);
    transform: translate(6px, -8px);
}

[dir="rtl"] .adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:hover:after {
    transform-origin: 40% top;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.adminimal-admin-toolbar .toolbar .toolbar-menu .toolbar-menu a {
    color: #bbb;
}

.adminimal-admin-toolbar .toolbar .toolbar-menu .toolbar-menu a:hover {
    color: #fff;
}

.adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item {
    border-top: none transparent;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray-horizontal .menu-item:last-child {
    border-left: none;
    border-right: none;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
    border-top: 1px solid #0084d7;
}

/* Removes border top on next consecutive lists after first */
.adminimal-admin-toolbar .toolbar-tray-horizontal ul ul li li.menu-item:first-child {
    border-top: none !important;
}

/* Main menu icons. */
.adminimal-admin-toolbar .toolbar-icon-admin-toolbar-tools-help:before {
    background-image: url(../images/drupal_arts.png);
    margin-left: 7px;
    padding: 0px;
}

.adminimal-admin-toolbar .toolbar-tray-vertical .toolbar-icon-admin-toolbar-tools-help:before {
    margin-left: 0;
}

.adminimal-admin-toolbar .toolbar-icon-system-admin-content:before {
    background-image: url(../images/acacac/file.svg);
}

.adminimal-admin-toolbar .toolbar-icon-system-admin-structure:before {
    background-image: url(../images/acacac/orgchart.svg);
}

.adminimal-admin-toolbar .toolbar-icon-system-themes-page:before {
    background-image: url(../images/acacac/paintbrush.svg);
}

.adminimal-admin-toolbar .toolbar-icon-entity-user-collection:before {
    background-image: url(../images/acacac/people.svg);
}

.adminimal-admin-toolbar .toolbar-icon-system-modules-list:before {
    background-image: url(../images/acacac/puzzlepiece.svg);
}

.adminimal-admin-toolbar .toolbar-icon-system-admin-config:before {
    background-image: url(../images/acacac/wrench.svg);
}

.adminimal-admin-toolbar .toolbar-icon-system-admin-reports:before {
    background-image: url(../images/acacac/barchart.svg);
}

.adminimal-admin-toolbar .toolbar-icon-help-main:before {
    background-image: url(../images/acacac/questionmark-disc.svg);
}

.adminimal-admin-toolbar .toolbar-icon-documentation:before {
    background-image: url(../images/acacac/pencil.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-admin-toolbar-tools-help:before,
.adminimal-admin-toolbar .toolbar-icon-admin-toolbar-tools-help:hover:before,
.adminimal-admin-toolbar .toolbar-icon-admin-toolbar-tools-help:active:before,
.adminimal-admin-toolbar .toolbar-icon-admin-toolbar-tools-help.is-active:before {
    background-image: url(../images/drupal_arts.png);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-system-admin-content:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-content:hover:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-content:active:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-content.is-active:before {
    background-image: url(../images/ffffff/file.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-system-admin-structure:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-structure:hover:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-structure:active:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-structure.is-active:before {
    background-image: url(../images/ffffff/orgchart.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-system-themes-page:before,
.adminimal-admin-toolbar .toolbar-icon-system-themes-page:hover:before,
.adminimal-admin-toolbar .toolbar-icon-system-themes-page:active:before,
.adminimal-admin-toolbar .toolbar-icon-system-themes-page.is-active:before {
    background-image: url(../images/ffffff/paintbrush.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-entity-user-collection:before,
.adminimal-admin-toolbar .toolbar-icon-entity-user-collection:hover:before,
.adminimal-admin-toolbar .toolbar-icon-entity-user-collection:active:before,
.adminimal-admin-toolbar .toolbar-icon-entity-user-collection.is-active:before {
    background-image: url(../images/ffffff/people.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-system-modules-list:before,
.adminimal-admin-toolbar .toolbar-icon-system-modules-list:hover:before,
.adminimal-admin-toolbar .toolbar-icon-system-modules-list:active:before,
.adminimal-admin-toolbar .toolbar-icon-system-modules-list.is-active:before {
    background-image: url(../images/ffffff/puzzlepiece.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-system-admin-config:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-config:hover:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-config:active:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-config.is-active:before {
    background-image: url(../images/ffffff/wrench.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-system-admin-reports:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-reports:hover:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-reports:active:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-reports.is-active:before {
    background-image: url(../images/ffffff/barchart.svg);
}

.adminimal-admin-toolbar .menu-item--expanded:hover .toolbar-icon-help-main:before,
.adminimal-admin-toolbar .toolbar-icon-help-main:hover:before,
.adminimal-admin-toolbar .toolbar-icon-help-main:active:before,
.adminimal-admin-toolbar .toolbar-icon-help-main.is-active:before {
    background-image: url(../images/ffffff/questionmark-disc.svg);
}

.adminimal-admin-toolbar .toolbar-tray-vertical .toolbar-icon-admin-toolbar-tools-help {
    text-indent: 0;
    transition: none;
}

#edit-field-hero-image-0--label+.image-widget {
    display: flex;
    flex-flow: column nowrap;
}

.layout-node-form .paragraphs-subform .field--name-field-title label {
    display: block;
}

.obsah-bloku,
.nastaveni-bloku {
    background-color: white !important;
    margin-block: 0 !important;
    margin-top: -0.5em !important;
    padding-top: 2em !important;
}

.obsah-bloku .field-multiple-table thead:has(+ tbody .hlavicka-sekce),
.nastaveni-bloku .field-multiple-table thead,
.obsah-bloku .field-multiple-table tbody .paragraph-type--hlavicka-komponenty .field-multiple-drag,
.nastaveni-bloku .field-multiple-table tbody .field-multiple-drag,
.obsah-bloku .field-multiple-table tbody .paragraph-type--hlavicka-komponenty .paragraph-top,
.nastaveni-bloku .field-multiple-table tbody .paragraph-top {
    display: none;
}

.nastaveni-bloku .field-multiple-table tbody tr,
.obsah-bloku .field-multiple-table tbody .paragraph-type--hlavicka-komponenty {
    border-bottom: 0;
}

.nastaveni-bloku .field-multiple-table tbody tr:hover,
.obsah-bloku .field-multiple-table tbody tr:hover,
.nastaveni-bloku .field-multiple-table tbody tr:focus,
.obsah-bloku .field-multiple-table tbody tr:focus {
    background: transparent;
}

.nastaveni-bloku .field-multiple-table tbody tr td:nth-child(2),
.obsah-bloku .field-multiple-table tbody tr td:nth-child(2) {
    padding-top: 0;
}

/* Fancy switch */
.nastaveni-bloku .field-multiple-table tbody .form-type-checkbox,
.obsah-bloku .field-multiple-table tbody .form-type-checkbox {
    display: grid;
    grid-template-areas: "input label"
        ". description";
    grid-template-columns: min-content auto;
    align-items: center;
    column-gap: 0.25rem;
    row-gap: 0.1rem;
    min-height: 1.5rem;
    margin-bottom: 0.125rem;
    margin-top: 0;
}

.nastaveni-bloku .field-multiple-table tbody .form-checkbox,
.obsah-bloku .field-multiple-table tbody .form-checkbox {
    grid-area: input;
    background: transparent;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    width: 2.5em !important;
    height: 1.5em !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 2em;
    transition: background-position .15s ease-in-out;
    top: 0;
    box-shadow: none;
}

.nastaveni-bloku .field-multiple-table tbody .form-checkbox:checked,
.obsah-bloku .field-multiple-table tbody .form-checkbox:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-color: #0074bd;
    border-color: #0074bd;
}

.nastaveni-bloku .field-multiple-table tbody .form-checkbox+label,
.obsah-bloku .field-multiple-table tbody .form-checkbox+label {
    grid-area: label;
    margin-bottom: 0;
}

.nastaveni-bloku .field-multiple-table tbody .form-checkbox+label+.description,
.obsah-bloku .field-multiple-table tbody .form-checkbox+label+.description {
    grid-area: description;
    margin-left: 0;
}

/*  */
.obsah-bloku .hlavicka-sekce {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    row-gap: 1rem;
    column-gap: 0.5rem;
    align-items: center;
}

.obsah-bloku .hlavicka-sekce .form-wrapper:nth-child(1) {
    grid-column: 1 / -1;
    margin-bottom: -0.75rem;
    width: min-content;
}

.obsah-bloku .hlavicka-sekce .form-wrapper:nth-child(1) label,
.obsah-bloku .hlavicka-sekce .form-wrapper:nth-child(7) label {
    text-wrap: nowrap;
}

.obsah-bloku .hlavicka-sekce .form-wrapper:nth-child(2) {
    grid-column: 1 / 4;
}

.obsah-bloku .hlavicka-sekce .form-wrapper:nth-child(3) {
    grid-column: 4 / -1;
}

.obsah-bloku .hlavicka-sekce .form-wrapper:nth-child(4) {
    grid-column: 1 / 3;
}

.obsah-bloku .hlavicka-sekce .form-wrapper:nth-child(5) {
    grid-column: 3 / -1;
}

.obsah-bloku .hlavicka-sekce .form-wrapper:nth-child(6) {
    grid-column: 1 / 2;
}

.obsah-bloku .hlavicka-sekce .form-wrapper:nth-child(7) {
    grid-column: 2 / -1;
    width: min-content;
}

.obsah-bloku .hlavicka-sekce .form-wrapper:nth-child(8) {
    grid-column: 1 / 4;
}

.obsah-bloku .hlavicka-sekce .form-wrapper:nth-child(9) {
    grid-column: 4 / -1;
}

.field--name-field-obecna-nastaveni .field-multiple-table tbody .paragraphs-subform {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    max-width: 640px;
}

.nastaveni-bloku .field--type-list-string,
.obsah-bloku .field--type-list-string {
    width: 200px;
    position: relative;
}

.obsah-bloku .field--type-string {
    width: 300px;
    position: relative;
}

.obsah-bloku .field--type-string input {
    height: 2.75rem;
}

.obsah-bloku .field--type-string input:focus {
    background-color: transparent;
}

.obsah-bloku .field--type-string input::placeholder {
    opacity: 0;
}

.nastaveni-bloku .form-type-select,
.obsah-bloku .form-type-select,
.obsah-bloku .form--type-string {
    margin-block: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.obsah-bloku .field--type-string label {
    position: absolute;
    background-color: #fcfcfa;
    color: rgba(0, 0, 0, 1);
    padding-inline: 0.25em;
    display: inline-block;
    top: 2px;
    left: 10px;
    font-weight: 900;
    font-size: 12px;
    transition: all 150ms;
}

.obsah-bloku .field--type-string label:has(+.form-text:placeholder-shown) {
    position: absolute;
    background-color: #fcfcfa;
    color: rgba(0, 0, 0, 0.75);
    padding-inline: 0.25em;
    display: inline-block;
    top: 22px;
    left: 10px;
    font-weight: 900;
    font-size: 14px;
}

.obsah-bloku .field--type-string label:has(+.form-text:focus) {
    top: 2px;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
}

.nastaveni-bloku .field--type-list-string label,
.obsah-bloku .field--type-list-string label {
    position: absolute;
    background-color: #fcfcfa;
    padding-inline: 0.25em;
    display: inline-block;
    top: -8px;
    left: 10px;
    font-weight: 900;
    font-size: 12px;
}

.nastaveni-bloku .form-select,
.obsah-bloku .form-select,
.obsah-bloku .form-text {
    width: 100%;
    padding: 15px 10px;
    padding-right: 25px;
    border-radius: 5px !important;
    border-color: rgba(0, 0, 0, 0.1);
    background-position-x: 95%;
    background-position-y: 55%;
    transition: all 100ms;
}

.nastaveni-bloku .form-select:focus,
.nastaveni-bloku .form-select:hover,
.obsah-bloku .form-select:focus,
.obsah-bloku .form-select:hover,
.obsah-bloku .form-text:hover,
.obsah-bloku .form-text:focus {
    border-color: #0074bd;
    border-radius: 5px;
    outline: none !important;
    background-position-x: 95%;
    background-position-y: 55%;
    box-shadow: none;
}

.specificka-nastaveni .details-wrapper {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
    padding-top: 1em;
}

[data-drupal-selector*="field-pocet-dlazdic-na-radek-wrapper"] {
    display: none;
}

/* testovani nove administrace */
.obsah-bloku .field--name-field-polozka .paragraph-type--polozka-do-tab-s-odkazy-dlazdice>td+td {
    padding-block: 0;
}

.obsah-bloku .field--name-field-polozka .paragraph-type--polozka-do-tab-s-odkazy-dlazdice>td+td .paragraph-type,
.obsah-bloku .field--name-field-polozka .paragraph-type--polozka-do-tab-s-odkazy-dlazdice>td+td .paragraph-info,
.obsah-bloku .field--name-field-polozka .paragraph-type--polozka-do-tab-s-odkazy-dlazdice>td+td .paragraph-summary,
.obsah-bloku .field--name-field-polozka .paragraph-type--polozka-do-tab-s-odkazy-dlazdice>td+td .paragraphs-icon-button,
.obsah-bloku .field--name-field-polozka .paragraph-type--polozka-do-tab-s-odkazy-dlazdice>td+td .paragraphs-dropdown-toggle {
    display: none;
}

.obsah-bloku .field--name-field-polozka .paragraph-type--polozka-do-tab-s-odkazy-dlazdice>td+td .paragraphs-dropdown-actions {
    display: flex;
    top: 26px;
    box-shadow: none;
    right: 10px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 1.7rem;
}

.obsah-bloku .field--name-field-polozka .paragraph-type--polozka-do-tab-s-odkazy-dlazdice>td+td .paragraphs-dropdown-actions input {
    opacity: 0;
    max-width: 2rem;
    padding: 0;
}

.obsah-bloku .field--name-field-polozka .paragraph-type--polozka-do-tab-s-odkazy-dlazdice>td+td .paragraphs-dropdown-actions::after {
    content: '\f24d';
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    position: absolute;
    right: 5px;
    font-size: 1.25rem;
    bottom: 5px;
    z-index: -1;
    opacity: 0.75;
}

.obsah-bloku .field--name-field-polozka .paragraph-type--polozka-do-tab-s-odkazy-dlazdice>td+td .paragraphs-dropdown-actions::before {
    content: '\f1f8';
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #d43414;
    position: absolute;
    left: 6px;
    font-size: 1.25rem;
    bottom: 5px;
    opacity: 0.75;
    transition: all 100ms;
}

.obsah-bloku .field--name-field-polozka .paragraph-type--polozka-do-tab-s-odkazy-dlazdice>td+td .paragraphs-dropdown-actions:has(+input[name="field_content_blocks_5_subform_field_polozka_0_remove"]:hover)::before {
    opacity: 1;
}