html {
    font-size: 62.5%;
    // font-family: $meta;
}

body {
    overflow-x: hidden;
    font-size: 1.4rem;
    color: $c2;
    line-height: $lineheight;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

    &.no-scroll {
        overflow: hidden;
    }
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

main {
    background-image: url(../images/tile.png);
    background-size: 24px;
    background-color: $c7;
    min-height: 60vh;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0.015em;
    &:first-of-type {
        margin-top: 0;
    }
}

h1,
.h1 {
    @include flex-prop(24,38);
    margin: 0;
    margin-bottom: .5em;
    font-weight: 700;
}

h2 {
    @include flex-prop(18,24);
    margin-bottom: .5em;
}

h3 {
    @include flex-prop(16,21);
    margin-bottom: .5em;
    margin-top: .75em;
}

h4,
.h4 {
    @include flex-prop(14,18);
    margin-bottom: .5em;
    line-height: 1em;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    &.align-center {
        margin: 1em auto;
    }
}

p {
    &:first-of-type {
        margin-top: 0;
    }
    &:last-of-type{
        margin-bottom: 0;
    }
}

a {
    color: currentColor;
    text-decoration: none;
}

section {
    max-width: 135rem;
    margin: auto;
    background-color: $c1;
}

main {
    padding-top: 7.5rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

iframe {
    width: 100%;
    border: none;
    min-height: 30rem;
}

.no-dimensions {
    transform: scale(0,0);
    transition: scale .5s ease;
}

@media(min-width: $headerBreak * 1em) {
    #content-wrap {
        transform: translateY(183px);
        transition: transform .5s ease;
        &.header-fixed {
            transform: translateY(40px);
        }
    }
}



