.btn-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;

  li:last-child img {
    max-height: 4rem;
  }

  img {
    max-height: 6rem;
    width: auto;
  }

  a::after {
    display: none !important;
  }
}
