@use "../abstracts" as *;

.call-to-action {
  --height: 100px;
  margin-inline: auto;
  max-width: 100%;
  background-color: $c1;
}
.call-to-action--light {
  .call-to-action__header {
    background-color: $c4;
  }
  .call-to-action__content {
    background-color: var(--clr-light-gray);
    color: var(--clr-dark-gray);
  }
}
.call-to-action--dark {
  .call-to-action__header {
    background-color: var(--clr-light-gray);
  }
  .call-to-action__content {
    background-color: var(--clr-dark-gray);
    color: $c1;
  }
}
.call-to-action--twoBoxes > .call-to-action__header {
  height: var(--height);
}
.call-to-action--twoBoxes > .call-to-action__content {
  max-width: 70%;
  margin-top: calc(-1 * var(--height) / 2);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
.call-to-action--fullWidth > .call-to-action__header {
  height: 0;
}
.call-to-action--fullWidth > .call-to-action__content {
  max-width: 100%;
  margin-top: 0;
}
.call-to-action__header {
  max-width: 100%;
  margin-inline: auto;
}
.call-to-action__content {
  margin-inline: auto;
  padding: 2em;
}
