.dialog {
    max-width: 50ch;
    border: 0;
    padding-top: 0;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.dialog .close-dialog {
    display: block;
    text-align: right;
    font-size: 3rem;
    cursor: pointer;
}