@use '../abstracts/var' as *;

.facebook {
    &__wrap {
        text-align: center;
        padding: 1rem 0;
        border-bottom: 0.2rem solid $c7;
    }

    &__footlinks {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }

    &__footlink {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }

        &:after {
            content: '';
            display: none !important;
        }

        &[href*='facebook'] {
            width: 4rem;
            height: 4rem;
            background-image: url(../images/icons/fb.svg);
        }

        &[href*='instagram'] {
            width: 4rem;
            height: 4rem;
            background-image: url(../images/icons/instagram.svg);
        }
    }
}