@use '../abstracts/var' as *;

.kontaktni-blok {
    font-family: var(--calibri);
    font-size: 1.4rem;
}

.kontaktni-blok .section-title {
    padding-bottom: 0.3rem;
}

.kontaktni-blok a:not([class="btn"]) {
    color: $c4;
    text-decoration: none;
    transition: color 150ms;

    &:hover {
        color: $c5;
    }
}

.kontaktni-blok__content {
    display: flex;
    flex-flow: column nowrap;
    gap: 5rem;
    padding: 1.5rem;
}

@media(min-width: 750px) {
    .kontaktni-blok__content {
        --content-gap: 1.25rem;
        display: grid;
        gap: var(--content-gap);
        grid-template-columns: 58% calc(42% - var(--content-gap));
    }

    .kontaktni-blok__content>*:only-child {
        grid-column: 1/-1;
    }
}

.kontaktni-blok__address {
    line-height: 1.5;
    padding-top: 0.5rem;

    p {
        text-align: left !important;
    }
}

.kontaktni-blok__persons {
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
}

.kontaktni-blok__person {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1.25rem;
}

.kontaktni-blok__person .details {
    list-style-type: none;
    line-height: 1.5;
    padding-top: 0.5rem;

    >li:first-of-type {
        text-transform: uppercase;
    }

    li>p {
        padding-top: 0.5rem;
    }

    li {
        text-align: left !important;
    }
}

.kontaktni-blok__after-content {
    padding: 1.5rem;
    margin-top: 2rem;
}

aside[data-url^="/cs/dokumentace-sablony"]+.main-content .kontaktni-blok__person .details li {
    text-align: left;
}