@use "../abstracts/var" as *;

.paragraph--youtube-video .section-title {
  background-color: $c1;
}
.youtube {
  position: relative;
  min-width: 560px;

  @media screen and (max-width: ($sm * 1em)) {
    min-width: 100%;
  }
  &--only-iframe {
    padding-bottom: 56.25%;
  }
  &--with-cover {
    padding-bottom: 0;
    .iframe {
      display: none;
    }
    .image {
      cursor: pointer;
    }
  }
  .iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    aspect-ratio: 16/9;
    @media screen and (max-width: ($sm * 1em)) {
      min-width: 100%;
      min-height: 100% !important;
    }
  }
}
