@mixin flex-prop($min, $max, $property: font-size, $start: 320, $end: 1200) {
  $multiplier: ($max - $min) / ($end - $start) * 100;
  $adder: ($min/10 * $end - $max/10 * $start) / ($end - $start);
  $formula: #{$multiplier + 0vw} + #{$adder + 0rem};
  #{$property}: $min * 0.1rem;
  @media (min-width: ($start * 0.0625em)) {
    #{$property}: calc(#{$formula});
    #{$property}: -webkit-calc(#{$formula});
  }

  @media (min-width: ($end * 0.0625em)) {
    #{$property}: $max * 0.1rem;
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }

  @include optional-at-root(":-moz-placeholder") {
    @content;
  }

  @include optional-at-root("::-moz-placeholder") {
    @content;
  }

  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}

@mixin border-with-width($length: 80%, $width: 1px, $color: #000) {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: $length; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: $width solid $color; /* This creates the border. Replace black with whatever color you want. */
}
