html {
  font-size: 62.5%;
  // font-family: $meta;
}

body {
  overflow-x: hidden;
  font-size: 1.6rem;
  color: $c2;
  line-height: $lineheight;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

main {
  background-image: url(../images/tile.png);
  background-size: 24px;
  background-color: $c7;
  min-height: 60vh;
  padding-top: 7.5rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.015em;
  &:first-of-type {
    margin-top: 0;
  }
}

h1,
.h1 {
  @include flex-prop(24, 38);
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 2.4rem;
}

h2 {
  @include flex-prop(18, 24);
  margin-bottom: 0.5em;
}

h3 {
  @include flex-prop(16, 21);
  margin-bottom: 0.5em;
  margin-top: 0.75em;
}

h4,
.h4 {
  @include flex-prop(14, 18);
  margin-bottom: 0.5em;
  line-height: 1em;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  &.align-center {
    margin: 1em auto;
  }
}

p {
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

section {
  max-width: 135rem;
  margin: auto;
  background-color: $c1;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

iframe {
  //width: 100%;
  border: none;
  //min-height: 30rem;
}

.no-dimensions {
  transform: scale(0, 0);
  transition: scale 0.5s ease;
}

.show-on-focus {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.no-after {
  &::after {
    display: none !important;
  }
}
.image--youtube-logo {
  width: 50% !important;
  max-width: 50% !important;
}

.footnote {
  font-size: 12px;
}

@media (min-width: $headerBreak * 1em) {
  #content-wrap {
    transform: translateY(183px);
    // Problém po aktualizaci chromu - nepříjemné probliknutí
    // transition: transform 0.5s ease;
    &.header-fixed {
      transform: translateY(40px);
    }
  }
}
// @media(min-width: $n-sm * 1em){
//     .h1, h1 {
//         font-size: calc(1.59091vw + 1.89091rem);
//         font-size: -webkit-calc(1.59091vw + 1.89091rem)
//     }
//     h2 {
//         font-size: calc(.68182vw + 1.58182rem);
//         font-size: -webkit-calc(.68182vw + 1.58182rem)
//     }
//     h3 {
//         font-size: calc(.56818vw + 1.41818rem);
//         font-size: -webkit-calc(.56818vw + 1.41818rem)
//     }
//     .h4, h4 {
//         font-size: calc(.45455vw + 1.25455rem);
//         font-size: -webkit-calc(.45455vw + 1.25455rem)
//     }
// }
// @media(min-width: $n-lg * 1em){
//     .h1, h1 {
//         font-size: 3.8rem
//     }
//     h2 {
//         font-size: 2.4rem
//     }
//     h3 {
//         font-size: 2.1rem
//     }
//     .h4, h4 {
//         font-size: 1.8rem
//     }
// }
