@use "../abstracts/var" as *;

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  padding: 0;
  max-width: $container;
  max-width: calc(#{$container} + 4rem);
  margin: auto;
}

a:not([class]) {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.lazyfade {
  transition: 0.25s;
  opacity: 0;

  &.lazyloaded {
    opacity: 1 !important;
  }
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.show-on-focus {
  // position: absolute;
  // left: -10000px;
  // top: auto;
  // width: 1px;
  // height: 1px;
  // overflow: hidden;

  &:focus {
    z-index: 9999;
    color: $c3;
    height: auto;
    left: auto;
    width: auto;
    position: relative;
  }
}

.hidden {
  display: none;
}

.padding {
  padding: 4%;
}

.row {
  background-color: transparent;
}

.mb {
  margin-bottom: 4rem;
}

/*.layout-content--viewfronthomepage {
    .main-content {
        float: none !important;
        width: 100% !important; 
    }
}*/

.page-title,
.section-title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0;

  &--inverse {
    color: $c1;
    border-bottom: 0.2rem solid rgba($c1, 0.2);
    padding-left: 2rem !important;
  }
}

.tag {
  display: inline-block;
  padding: 0.5em 0.8em;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  background-color: $c7;
  color: $c6;
  border-radius: 0.4rem;
  white-space: nowrap;
  transition: background-color 0.3s;

  &:not(:first-child) {
    margin-left: 0.5rem;
  }

  &:hover {
    background-color: rgba($c7, 0.4);
  }
}

hr {
  border-bottom: 0.2rem solid $c7;
  border-top: none;
  margin: 0.5rem 0;
}

/* ul without class - comes from wysiwyg */
ul:not([class]) {
  padding-left: 2rem;
  margin-bottom: 1rem;

  li {
    text-indent: -1em;
    padding-left: 1em;
    list-style: none;

    &:before,
    >ul li:before {
      width: 6px;
      height: 6px;
      background-color: $c3;
      border-radius: 50%;
      margin-right: 0.6em;
      margin-bottom: 0.1em;
    }

    >ul li:before {
      background-color: $c1;
      border: 1px solid $c3;
    }
  }
}

a.arrow-link {
  transition: color 0.3s;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:after {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../images/icons/active_arrow.svg);
    vertical-align: sub;
    margin: 0 0.5rem;
  }
}

a.external-link,
a.download-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:after {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    margin: 0 0.5rem;
    width: 1.2rem;
    height: 1.05rem;
    background-size: cover;
  }
}

a.external-link::after {
  background-image: url(../images/icons/external.svg);
}

a.download-link::after {
  background-image: url(../images/icons/download.svg);
}

@media (min-width: ($sm * 1em)) {
  .container {
    padding: 0 4%;
    max-width: $container;
    max-width: calc(#{$container} + 8%);
    margin: auto;
  }

  main.viewfronthomepage {
    padding-top: 10.5rem;
  }

  .padding {
    padding: 1.5rem;

    &--large {
      padding: 3rem;
    }
  }

  .row {
    display: flex;
  }

  .page-title {
    font-size: 2.7rem;
  }

  .section-title {
    font-size: 2.2rem;
  }
}

@media (min-width: ($headerBreak * 1em)) {
  main {
    padding-top: 0;
  }

  main.viewfronthomepage {
    padding-top: 3.5rem;
  }
}

@media (min-width: ($lg * 1em)) {
  .layout-aside {
    // lost-column: 1/3;
    position: sticky;
    top: 50px;
    width: calc(99.9% * 1 / 3 - (30px - 30px * 1 / 3));
    max-width: 360px;

    &:nth-child(1n) {
      float: left;
      margin-right: 3rem;
      clear: none;
    }

    &:nth-child(3n) {
      margin-right: 0;
      float: right;
    }

    &:nth-child(3n + 1) {
      clear: both;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  // .main-content {
  //     // lost-column: 2/3;
  //     width: calc(99.9% * 1 / 3 - (30px - 30px * 1 / 3));
  //     position: -webkit-sticky;
  //     position: sticky;
  //     top: 50px;
  //     &:nth-child(1n){
  //         float: left;
  //         margin-right: 30px;
  //         clear: none;
  //     }
  //     &:nth-child(3n){
  //         margin-right: 0;
  //         float: right;
  //     }
  //     &:nth-child(3n+1){
  //         clear: both;
  //     }
  //     &:last-child{
  //         margin-right: 0;
  //     }
  // }
}

.node-preview-container {
  background-color: $c1 !important;
  border: 0.2rem solid $c4 !important;
  width: 33% !important;

  a {
    text-decoration: underline !important;
  }
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.pt-0 {
  padding-top: var(--p-0);
}

.pt-sm {
  padding-top: var(--p-sm);
}

.pt-md {
  padding-top: var(--p-md);
}

.pt-lg {
  padding-top: var(--p-lg);
}

.pt-xl {
  padding-top: var(--p-xl);
}

.pb-0 {
  padding-bottom: var(--p-0);
}

.pb-sm {
  padding-bottom: var(--p-sm);
}

.pb-md {
  padding-bottom: var(--p-md);
}

.pb-lg {
  padding-bottom: var(--p-lg);
}

.pb-xl {
  padding-bottom: var(--p-xl);
}

.bc-white {
  background-color: #ffffff;
}

.bc-transparent {
  background-color: transparent;
}

.mb-reset-hero-image .hero-image {
  margin-bottom: 0;
}

// .side-nav__item > .side-nav__link--dark-red {
//   background-color: var(--clr-dark-red) !important;
//   color: $c1 !important;
//   font-weight: 400;
//   border-left-color: var(--clr-dark-red) !important;

//   &:hover {
//     background: $c4 !important;
//   }

//   + .side-nav__toggle--active {
//     color: $c1;
//   }
// }
// .side-nav__item > .side-nav__link--dark-red.is-active{
//   font-weight: 800;
//   background-color: $c4 !important;
//   border-left-color: var(--clr-dark-red) !important;
// }