$container: 120rem;
$headerBreak: 62.5;

$mini: 22.5;
$sm: 35.5;
$md: 48;
$lg: 64;

$n-sm: 20;
$n-lg: 75;

$lineheight: 1.715;
$lineheightSm: 1.42;

$padMob: 4%;

$c1: #fff;
$c2: #000;
$c3: #392f2c;
$c4: #d43241;
$c5: #af1037;
$c6: #808080;
$c7: #f6f6f6;
$c8: #af1037;
$c9: #dcdcdc;

$c10a: #e85626;
$c10b: #2f92cc;
$c10c: #ff9900;
$c10d: #628126;
$c10e: #8d1922;

$c11: #a0a0a0;
$c12: #fafafa;
$c13: #dddddd;
$c14: #777777;
$c15: #706f6f;

$breakpoints: (
  mobile: 40em,
  one-column: 27.5em,
);

:root {
  --clr-light-gray: #f6f6f6;
  --clr-dark-gray: #706f6f;
  --clr-mgr: #669bbc;
  --clr-light-mgr: hsl(204, 39%, 85%);
  --clr-phd: #0c3148;
  // --clr-light-phd: #bedff4;
  --clr-light-phd: #c6c6c6;
  // #ff2358
  // #ff3f6b
  // #ff0055

  // #f42a63
  // #c0161f
  --clr-dark-red: #c0161f;
  --clr-brighter-red: #c04047;
  --clr-absolventi: var(--clr-dark-red);
  --clr-light-absolventi: #fad1d3;
  --clr-zamestnanci: #77160e;
  --clr-light-zamestnanci: #ffe3e0;
  --clr-dark-red-hsl: 357, 79%, 42%;
  --clr-light-gray-hsl: 0, 0%, 96%;
  --calibri: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  --p-0: 0;
  --p-sm: 15px;
  --p-md: 30px;
  --p-lg: 60px;
  --p-xl: 100px;
}
