.lib-circle-links {
    $this: &;
    height: 100%;
    &__heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    &__heading-btn {
        margin-top: 0;
    }
    &__list {
        padding-top: 3rem;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 35rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    &__title {
        min-width: 10rem;
        width: 10rem;
        min-height: 10rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 1.5rem;
        &:hover {
            #{$this}__title-name {
                &:before {
                    border-color: rgba($c4, .6);
                }
            }
        }
    }
    &__title-name {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 300;
        color: $c4;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            border: .2rem solid rgba($c4, .1);
            transition: border-color .3s;
        }
    }
    &__text {
        line-height: 1.45;
        p {
            margin: 0;
        }
    }

    @media(min-width: $lg * 1em) {
        &__title {
            margin-bottom: 0;
        }
        &__item {
            flex-direction: row;
            lost-column: 1/2;
            margin-bottom: 5rem;
        }
        &__text {
            margin-left: 2rem;
            text-align: left;
        }
    }
}