{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{#{ options.button_text }#}

{% if items.next %}
<ul {{ attributes.addClass("news-feed__loadmore") }}>
  <li class="news-feed__loadmore__item">
    <a class="news-feed__loadmore__link" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next">{{ 'Load more'|t }}</a>
  </li>
</ul>
{% endif %}
