
.contact {
    $this: &;
    order: -1;
    width: 100%;
    &__outer-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    &__filter {
        padding-top: 7rem;
        background-color: $c1;
        &__title {
            background-color: $c1;
            background-image: url(../images/icons/filter.svg);
            background-repeat: no-repeat;
            background-position: right 2rem center;
            background-size: 3rem;            
        }
        &__tabs {
            position: relative;
            &__content {
                display: none;
            }
            &__label {
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: center;
                top: -7rem;;
                width: 50%;
                height: 6.5rem;
                cursor: pointer;
                border-bottom: .2rem solid $c7;
            }
            &__input {
                position: absolute;
                top: 0;
                left: -9999px;
            }
            &__item {

                &:nth-child(1) {
                    #{$this}__filter__tabs__label {
                        left: 0;
                        border-right: .2rem solid $c7;
                    }
                }

                &:nth-child(2) {
                    #{$this}__filter__tabs__label {
                        left: 50%;
                    }
                }
            }
            &__wrap {
                display: inline-block;
                margin-right: 2rem;
            }
            &__input:checked ~ #{$this}__filter__tabs__content {
                display: block;
            }
            &__input:checked + #{$this}__filter__tabs__label #{$this}__filter__tabs__icon {
                border: none;
                background-color: $c4;
                svg {
                    fill: $c1;
                }
            }
            &__input:checked + #{$this}__filter__tabs__label {
                border-bottom: none;
            }
            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;
                border: .2rem solid $c4;

                svg {
                    fill: $c4;
                    max-width: 100%;
                    width: 9px;
                    height: 5px;
                }
            }
            &__departments {
                li {
                    margin-bottom: 1rem;
                }
            }
            input[type=checkbox] {
                width: auto;
                margin-right: 1rem;
            }
        }
        &__search {
            height: 5rem;
            background-color: $c7;
            border: none;
            padding: 1rem;
            margin-bottom: .5rem; 
        }
        &__letters {
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            margin-left: -.5rem;
            margin-right: -.5rem;
            &__letter {
                flex: 0 0 16.6666%;
                display: flex;
                justify-content: center;
                align-items: stretch;
                padding: .5rem;
                &:before {
                    content:'';
                    display: table;
                    padding-top:100%;
                }
            }
            &__label {
                background-color: $c7;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                cursor: pointer;
                text-transform: uppercase;
            }
            &__input:checked + label {
                background-color: $c4;
                color: $c1;
            }
        }
    }
    &__results {
        
        &__list {
            display: flex;
            flex-wrap: wrap;
            background-color: $c1;

            &--search {
                #{$this}__results__item {
                    border-left: .2rem solid $c7;
                    border-right: .2rem solid $c7;
                }
            }
            
        }
        &__item {
            width: 100%;
            //min-height: 20rem;
            background-color: $c1;
            padding: 1rem;
            display: flex;
            align-items: center;
            border-bottom: .2rem solid $c7;
        }
        &__empty {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 2rem;
            padding: 2em 0;
        }
        &__img {
            min-width: 7.5rem;
            min-height: 7.5rem;
            border-radius: 50%;
            margin-right: 2rem;
            background-size: cover;
            background-position: center 10%;
            &--empty {
                background-image: url(../images/no-photo.svg) !important;
            }
        }
        &__title {
            font-size: 1.6rem;
            font-weight: 400;
            margin-bottom: 1.5rem;
        }
        &__info-title {
            min-width: 5rem;
            display: inline-block;
            margin-right: -4px;
        }
        &__email,
        &__phones {
            font-size: 1.2rem;
            margin: 0;
        }
        &__email {
            &:not(:first-of-type) {
                padding-left: 5rem;
            }
        }
        &__phones {
            &:not(:first-of-type) {
                padding-left: 5rem;
            }
        }
        &__link {
            color: $c4;
            &:hover {
                text-decoration: underline;
            }
        }
        &__detail {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            transition: color .3s;
            &:hover {
                color: $c4;
            }
            &:after {
                content: '';
                display: inline-block;
                background-image: url(../images/icons/active_arrow.svg);
                width: 1.5rem;
                height: 1.5rem;
                margin-left: 1rem;
            }
        }
        &__pagination {
            margin-top: -.2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $c1;
            padding-left: 2rem;
            border-top: .2rem solid $c7;
            &--search {
                border: .2rem solid $c7;
            }
            &__btns {
                display: flex;
            }
            &__btn {
                width: 6rem;
                height: 6rem;
                background-color: $c1;
                display: inline-block;
                border: none;
                border-left: .2rem solid $c7;
                text-indent: -9999px;
                cursor: pointer;
                background-image: url(../images/icons/triangle-red.svg);
                background-size: 8px;
                background-repeat: no-repeat;
                background-position: center;
                &:disabled {
                    opacity: .5;
                    cursor: not-allowed;
                }
                &:first-child {
                    background-image: url(../images/icons/triangle-red-left.svg);
                }
            }
        }
    }

    @media (min-width: $sm * 1em) and (max-width: ($md - .0625) * 1em) {
        &__filter {
            &__letters {
                &__letter {
                    flex: 0 0 11.1%;
                }
            }
        }
    }

    @media (min-width: $md * 1em) and (max-width: ($lg - .0625) * 1em) {
        &__filter {
            &__letters {
                &__letter {
                    flex: 0 0 7.14%;
                }
            }
        }
        &__results {            
            &__list {
                &--search {
                    #{$this}__results__item {
                        width: 50%;
                        &:nth-child(2),
                        &:first-child {
                            border-top: none
                        }
                        &:nth-child(odd) {
                            border-right: none;
                        }
                    }
                }                
            }
        }
    }

    @media(min-width: $md * 1em) {
        &__results {
            &__item {
                padding: 2rem;
                width: 50%;
                border-bottom: .2rem solid $c7;
                &:not(:nth-child(even)) {
                    border-right: .2rem solid $c7;
                }
            }
            &__list {
                &--search {
                    #{$this}__results__item {
                        border: none;
                        border: .2rem solid $c7;
                        &:nth-child(odd) {
                            border-right: none;
                        }
                        &:not(:nth-last-child(-n+2)) {
                            border-bottom: none;
                        }
                    }
                }                
            }
        }
    }

    @media(min-width: $lg * 1em) {
        order: inherit;
        &__results {            
            &__list {
                padding: 0;
                &--search {
                    #{$this}__results__item {
                        width: 100%;
                        &:first-child {
                            border-top: none;
                        }
                        &:last-child {
                            border-top: none;
                        }
                    }
                }                
            }
        }
    }
}