@use '../abstract/var' as *;

.img-link {
    &__link {
        display: flex;
        flex: 1;
        background-size: cover;
        background-repeat: no-repeat;
        height: 35vh;
    }
    &__footlink {
        padding: 2.5rem 1.5rem;
        display: block;
        border-top: .2rem solid $c7;
        transition: color .3s;
        &:hover {
            color: $c4;
        }
        &:after {
            content: '';
            display: inline-block;
            vertical-align: baseline;
            margin-left: 1rem;
            width: 1.2rem;
            height: 1.05rem;
            background-image: url(../images/icons/external.svg);
            background-size: cover;
        }
    }

    @media(min-width: $sm * 1em) {
        &__link {
            height: auto;
            min-height: 20rem;
        }
    }
}