@use '../abstracts/' as *;
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  &__item {
    display: flex;
    align-items: center;
    margin: 0 2rem 3rem 2rem;
    align-items: center;
    justify-content: center;
    //min-width: 14rem;
  }
  &__img {
    max-width: 9rem;
    max-height: 5.5rem;
    width: auto !important;
  }
  &__link {
    margin: auto;
    display: block;
    //width: 50%;
  }
}

.prefooter__bottom {
  .logos {
    &__img {
      max-width: 9rem;
      max-height: 5.5rem;
    }
  }
}
.section {
  padding-bottom: 1rem;
  &::after {
    @include border-with-width(90%, 2px, $c4);
  }
  + .mb {
    margin: 0;
  }
  .logos {
    &__img {
      max-width: 15rem;
      max-height: 15rem;
    }
  }
}
