@use '../abstracts/var' as *;

.news-filter {
    background-color: $c1;

    &__title {
        background-color: $c1;
        background-image: url(../images/icons/filter.svg);
        background-repeat: no-repeat;
        background-position: right 2rem center;
        background-size: 3rem;
    }

    form,
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    legend {
        // hide visually
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
    }

    input[type=submit] {
        display: none;
    }

    .form-item-general-tags-id,
    .form-item-field-tags-target-id {
        input[type=radio] {
            // hide visually
            position:absolute;
            left:-10000px;
            top:auto;
            width:1px;
            height:1px;
            overflow:hidden;
        }
        label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: .2rem solid $c7;
            cursor: pointer;
            transition: background-color .3s;
            &:hover {
                background-color: $c12;
            }
        }
        input[type=radio]:checked + label {
            &:after {
                content: '';
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                background-image: url(../images/icons/active_arrow.svg);
                vertical-align: sub;
                margin-right: 1.5rem;
            }
        }
    }
}