.number {
    background-color: $c1;
    &__wrap {
        text-align: center;
        color: $c4;
        flex: 1;
        justify-content: center;
        display: flex;
        flex-direction: column;
        min-height: 18rem;
    }
    &__number {
        font-size: 8rem;
        font-weight: 700;
        line-height: .9;
        padding-bottom: .2em;
        display: block;
    }
}