.download {
    background-color: $c1;
    color: $c4;
    &__link {
        text-align: center;
        flex: 1;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 18rem;
        &:hover {
            text-decoration: underline;
        }
    }
    &__icon {
        width: 57.5px;
        height: 69px;
        margin-bottom: 1.5em;
        fill: $c4;
    }
}