.fields-of-studies {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 0;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0
        }
        &:not(:last-child) {
            border-bottom: .1rem solid $c7;
        }
    }
    &__title {
        min-width: 8.5rem;
        width: 8.5rem;
        min-height: 10.5rem;
        height: 10.5rem;
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__title-name {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 300;
        color: $c4;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 3.5em;
            height: 3.5em;
            border-radius: 50%;
            border: .2rem solid rgba($c4, .1);
        }
    }
    &__footnote {
        border-top: .2rem solid $c7;
        display: flex;
        align-items: center;
        &__img {
            min-width: 2.5rem;
            width: 2.5rem;
            min-height: 1.65rem;
            height: 1.65rem;
            margin-left: .5rem;
            margin-right: 2rem;
            fill: #222;
        }
    }

    @media(min-width: $sm * 1em) {
        &__item {
            flex-direction: row;
        }
        &__text {
            margin-left: 2rem;
        }      
    }
}