.nav-links {
    
    &__item {
        display: inline-block;
        width: 100%;
        margin-bottom: 1.25rem;
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
    }
    &__link {
        position: relative;
        transition: color .3s;
        &:hover {
            color: $c4;
        }
    }

    &__last {
        white-space: nowrap;
        &:after {
            content: '';
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            background-image: url(../images/icons/active_arrow.svg);
            vertical-align: sub;
            margin-left: 1rem;
        }

    }

    @media(min-width: $sm * 1em) {
        &__content {
            column-count: 2;
            column-gap: 1.5rem;
        }
    }

    @media(min-width: $md * 1em) {
        &__content {
            column-count: 3;
            column-gap: 3.5rem;
        }
    }
}