@use '../abstracts/var' as *;

.lang-switcher {
    a {
        border: .1rem solid $c9;
        display: block;
        text-indent: -9999px;
        width: 3.2rem;
        height: 3.2rem;
        background-size: 2.4rem;
        background-position: center;
        background-repeat: no-repeat;
        &[hreflang=cs] {
            background-image: url(../images/icons/cs.svg);
        }
        &[hreflang=en] {
            background-image: url(../images/icons/en.svg);
        }
    }
    @media(min-width: $headerBreak * 1em) {
        margin-left: 1rem;
    }
}