{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}

    {% set site_url = path("<current>") %}

    <aside data-url="{{ path('<current>') }}" class="layout-aside mb">
        {{ content }}

        {% if '/zahranici' in site_url|render|render %}

            {{ attach_library('fsv_uk/calendar') }}
            <div class="events-container">
            <h3 class="events__title">Kalendář</h3>
            <div id="calendar-container"></div>
            {{ drupal_view('events', 'block_events_zahranici_data') }}
            </div>

            
        {% endif %}

    </aside>
{% endif %}
