{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}


{% if content %}
    <footer class="footer">
        <div class="footer__outer">
            <div class="footer__container container">
                <nav class="footer__nav">
                    {% block footer_content %}
                        <ul class="footer__nav__list">
                            {{ content }}
                        </ul>
                    {% endblock %}
                </nav>
            </div>
        </div>
        <div class="footer__copyright">
            
                <div class="container footer__container footer__copyright__container">
                <div class="footer__copyright__left">
                    &copy; PRF UK {{ "now"|date("Y") }}
                </div>
                
                <div class="footer__copyright__right">
                    <ul class="footer__copyright__links">
                        <li class="footer__copyright__item">
                            <div class="footer__copyright__logo-arts">
                            </div>
                        </li>
                        <li class="footer__copyright__item">
                            <a href="http://www.cuni.cz/" target="_blank" class="footer__copyright__link">www.cuni.cz</a>
                        </li>
                    </ul>
                </div>
            </div>
            

                
           
           
        </div>
    </footer>
{% endif %}
