<div class="mt">

<style>.main-content {width: 100%!important;}</style>

{% set site_url = url("<current>")|escape|split('/') | last %}		

<h1 class="padding section-title page-title ">Patro {{ site_url }}</h1>

<h3 class="padding white-page"><a href="/kontakt/mapa-budovy/0">Přízemí</a> | <a href="/kontakt/mapa-budovy/1">1. patro</a> | <a href="/kontakt/mapa-budovy/2">2. patro</a> | <a href="/kontakt/mapa-budovy/3">3. patro</a> | <a href="/kontakt/mapa-budovy/4">4. patro</a> | <a href="/kontakt/mapa-budovy/-1">1. suterén</a> | <a href="/kontakt/mapa-budovy/-2">2. suterén</a></h3>

<div style="height:1100px">

<iframe src="https://WWW.prf.cuni.cz/image-map.php?floor={{ site_url }}" scrolling="no" width="100%" height="1050px" overflow></iframe>

</div>

</div>
