<div class="mt">

<style>.layout-content--viewmapa-budovypage-1 .main-content {width: 100%!important;}

.inline *{ display: inline; }
</style>

{% set site_url = url("<current>")|escape|split('/') | last %}	

<h1 class="padding section-title page-title inline">Místnost {{ fields.MISTNOST.content }}, podlaží: {{ drupal_view('mistnost_podlazi', 'block_1', site_url) }}</h1>

<h3 class="padding white-page" style="margin-bottom: 2px;"><a href="/kontakt/mapa-budovy/0">Přízemí</a> | <a href="/kontakt/mapa-budovy/1">1. patro</a> | <a href="/kontakt/mapa-budovy/2">2. patro</a> | <a href="/kontakt/mapa-budovy/3">3. patro</a> | <a href="/kontakt/mapa-budovy/4">4. patro</a> | <a href="/kontakt/mapa-budovy/-1">1. suterén</a> | <a href="/kontakt/mapa-budovy/-2">2. suterén</a></h3>

<div class="padding white-page" style="margin-top:0">

	
	
{{ drupal_view('mapa_mistnosti', 'page_2', site_url) }}    

</div>

<div style="height:1100px">

<iframe src="/image-map.php?ukid={{ fields.MISTNOST.content }}" scrolling="no" width="100%" height="1050px" overflow></iframe>

</div>

</div>
