<style>.layout-content--viewmapa-budovypage-1 .main-content {width: 100%!important;}</style>

<div style="height:800px">

<iframe src="https://web.prf.cuni.cz/image-map.php?ukid={{ fields.MISTNOST.content }}" scrolling="no" width="100%" height="1050px" overflow></iframe>

</div>
